engine-strict=true
resolution-mode=highest
# untuk menghindari konflik dengan package manager lain
prefer-workspace-packages=true
auto-install-peers=true
# Izinkan build script untuk package yang telah diverifikasi
allow-build-bcrypt=yes
allow-build-esbuild=yes 